annotated-types==0.7.0
anyio==4.5.2
click==8.1.8
colorama==0.4.6
fastapi==0.115.8
-e git+https://github.com/eduardolirainfo/gql-app.git@86dd00e17fcf5ad7a03c12bc70caf08cf0cfc551#egg=gql_app
graphene==3.4.3
-e git+https://github.com/eduardolirainfo/graphene-start.git@12d7ea775e471b309625c8a3ba5c1d2c994efe2e#egg=graphene_start
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
h11==0.16.0
httptools==0.6.4
idna==3.10
psutil==6.1.1
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
ruff==0.9.6
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.38
starlette==0.44.0
starlette-graphene3==0.6.0
taskipy==1.14.1
tomli==2.0.1
typing_extensions==4.12.2
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
